[submodule "ryzen_pm_table_moonitor/extern/imgui"]
	path = ryzen_pm_table_moonitor/extern/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "ryzen_pm_table_moonitor/extern/glfw"]
	path = ryzen_pm_table_moonitor/extern/glfw
	url = https://github.com/glfw/glfw.git
[submodule "ryzen_pm_table_moonitor/extern/taskflow"]
	path = ryzen_pm_table_moonitor/extern/taskflow
	url = https://github.com/taskflow/taskflow.git
[submodule "ryzen_pm_table_moonitor/extern/implot"]
	path = ryzen_pm_table_moonitor/extern/implot
	url = https://github.com/epezent/implot.git
[submodule "ryzen_pm_table_moonitor/extern/spdlog"]
	path = ryzen_pm_table_moonitor/extern/spdlog
	url = https://github.com/gabime/spdlog
[submodule "ryzen_pm_table_moonitor/extern/tomlplusplus"]
	path = ryzen_pm_table_moonitor/extern/tomlplusplus
	url = https://github.com/marzer/tomlplusplus
